.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
wordpress/.terraform.lock.hcl
wordpress/terraform.tfstate
wordpress/terraform.tfstate.backup
wordpress/.terraform.tfstate.lock.info
